// Import core styles
@import '../../node_modules/@tweakpane/core/lib/sass/plugin';

// Additional style for the plugin
.#{$prefix}-multiple-selectv {
	// Extend a general input view style
	// @extend %input;

	max-height: calc(var(--bld-us) * 5);
	overflow-y: auto;
	position: relative;
	color: var(--in-fg);

	&.#{$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_option {
		display: flex;
		align-content: center;
		gap: 5px;
		margin-top: 2px;
		margin-bottom: 2px;
	}

	&_input {
		margin: 0;
	}

	&_text {
		flex: auto;
	}

	&_empty {
		color: var(--in-fg-placeholder);
	}
}
